<h2>This is <%= @current_user.email %>'s Feed Page</h2>

<div id='content'>
	<div id="sidebar" class='span4'>
		
	</div><!-- #sidebar -->
	<div id="main" class='span7'>
		
	</div><!-- #main -->
</div>

