<h3>What is going on?</h3>
<hr />
<% feeds.each(function (feed) { %>

	<ul>
		<% url = "#/feeds/" + feed.escape('id') %>
		<a href=<%= url %> >
			<%= feed.escape('title') %>	
		</a>
		
	</ul>


<% });  %>


